<mat-card>
  <mat-card-title>Tariffs List <button mat-fab color="primary" [routerLink]="['/tariff-add']">+</button></mat-card-title>
  <table matSort (matSortChange)="sortData($event)">
    <tr>
      <th mat-sort-header="id">ID</th>
      <th mat-sort-header="dateStart">Data rozpoczecia obowiazywania</th>
      <th mat-sort-header="dateStop">Data zakonczenia obowiazywania</th>
      <th mat-sort-header="priceDist">Cena za kilometr</th>
      <th mat-sort-header="priceTime">Cena za minute</th>
    </tr>

    <tr class="clickable" *ngFor="let tariff of sortedData" (click)="onEditClick(tariff)">
      <td>{{tariff.id}}</td>
      <td>{{tariff.od_kiedy}}</td>
      <td>{{tariff.do_kiedy}}</td>
      <td>{{tariff.cena_kilometra}}</td>
      <td>{{tariff.cena_minuty}}</td>
    </tr>
  </table>
</mat-card>

