<form [formGroup]="workForm">
  <div class="example-container">


    <mat-form-field>
      <input matInput placeholder="co było robione" [formControlName]="'coRobione'" type="text">
    </mat-form-field>

    <mat-form-field>
      <input matInput [matDatepicker]="picker" [formControlName]="'odKiedy'" placeholder="Wybierz date rozpoczecia obowiazywania">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <input matInput [matDatepicker]="picker2" [min]="workForm.controls.odKiedy.value"  [formControlName]="'doKiedy'" placeholder="Wybierz date zakonczenia obowiazywania">
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Baza" [formControlName]="'bazaLokalizacja'">
        <mat-option *ngFor="let base of bases" [value]="base.id">
          {{base.lokalizacja}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="samochod" [formControlName]="'samochodNrRejestracyjny'">
        <mat-option *ngFor="let car of cars" [value]="car.id">
          {{car.nr_rejestracyjny}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</form>

<button mat-fab color="primary" (click)="onSubmit()">+</button>
