<form [formGroup]="refuelForm">
  <div class="example-container">

    <mat-form-field>
      <input matInput placeholder="siecStacji" [formControlName]="'siecStacji'" type="text">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="ileLitrow" [formControlName]="'ileLitrow'" type="number">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="kwota" [formControlName]="'kwota'" type="number">
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Przejazd" [formControlName]="'przejazd'">
        <mat-option *ngFor="let ride of rides" [value]="ride.id">
          {{getRideInfo(ride.id)}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</form>

<button mat-button color="primary" (click)="onSubmit()">Edytuj</button>
<button mat-button color="red" (click)="onDeleteClick()">USUŃ</button>
