<form [formGroup]="carForm">
  <div class="example-container">
    <mat-form-field>
      <input matInput placeholder="nrRejestracyjny" [formControlName]="'nrRejestracyjny'" type="text">
    </mat-form-field>

    <mat-radio-group [formControlName]="'dostepny'">
      <mat-radio-button value="1">Wolny &nbsp;</mat-radio-button>
      <mat-radio-button value="0">Zajety</mat-radio-button>
    </mat-radio-group>

    <mat-form-field>
      <input matInput placeholder="model" [formControlName]="'model'" type="text">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="marka" [formControlName]="'marka'" type="text">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Przebieg" [formControlName]="'przebieg'" type="number">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="lokalizacjaPozaP" [formControlName]="'lokalizacjaPozaP'" type="text">
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="bazaLokalizacja" [formControlName]="'bazaLokalizacja'">
        <mat-option *ngFor="let base of bases" [value]="base.id">
          {{base.lokalizacja}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="parkingLokalizacja" [formControlName]="'parkingLokalizacja'">
        <mat-option *ngFor="let parking of parkings" [value]="parking.id">
          {{parking.lokalizacja}}
        </mat-option>
      </mat-select>
    </mat-form-field>

  </div>
</form>

<button mat-fab color="primary" (click)="onSubmit()">+</button>
