<form [formGroup]="collisionForm">
  <div class="example-container">
    <mat-form-field>
      <input matInput placeholder="id" [formControlName]="'id'" type="number">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="lokalizacja" [formControlName]="'lokalizacja'" type="text">
    </mat-form-field>

    <mat-form-field>
      <input matInput [matDatepicker]="picker" [formControlName]="'data'" placeholder="Wybierz date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>


    <mat-form-field>
      <input matInput placeholder="Przejazd id" [formControlName]="'przejazd'" type="number">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder=" ID PRACOWNIKA" [formControlName]="'prac_id'" type="number">
    </mat-form-field>

  </div>
</form>

<button mat-button color="primary" (click)="onSubmit()">Edytuj</button>
<button mat-button color="red" (click)="onDeleteClick()">USUŃ</button>
