<mat-card>
  <mat-card-title>Rides List <button mat-fab color="primary" [routerLink]="['/ride-add']">+</button></mat-card-title>
  <table matSort (matSortChange)="sortData($event)">
    <tr>
      <th mat-sort-header="dataStart">Data Rozpoczecia</th>
      <th mat-sort-header="dataStop">Data Zakonczenia</th>
      <th mat-sort-header="dystans">Przebyty dystans</th>
      <th mat-sort-header="lokStart">Lokalizacja Poczatkowa</th>
      <th mat-sort-header="lokStop">Lokalizacaj Koncowa</th>
      <th mat-sort-header="mail">Uzytkownik</th>
      <th mat-sort-header="cennik">Cennik z dnia</th>
      <th mat-sort-header="samochod">Samochod (nr rejestracyjny)</th>
    </tr>

    <tr class="clickable" *ngFor="let ride of sortedData" (click)="onEditClick(ride)">
      <td>{{ride.data_rozpoczecia}}</td>
      <td>{{ride.data_zakonczenia}}</td>
      <td>{{ride.dytans}}</td>
      <td>{{ride.lokalizacja_poczatkowa}}</td>
      <td>{{ride.lokalizacja_koncowa}}</td>
      <td>{{getUserName(ride.uzytkownik_id)}}</td>
      <td>{{getTariffDate(ride.cennik_id)}}</td>
      <td>{{getCarName(ride.samochod_id)}}</td>
    </tr>
  </table>
</mat-card>

