<mat-card>
  <mat-card-title>Collisions List
    <button mat-fab color="primary" [routerLink]="['/collision-add']">+</button>
  </mat-card-title>
  <table matSort (matSortChange)="sortData($event)">
    <tr>
      <th mat-sort-header="id">ID kolizji</th>
      <th mat-sort-header="localization">Lokalizacja</th>
      <th mat-sort-header="date">Data kolizji</th>
      <th mat-sort-header="ride">Uzytkownik - Przejazd - Samochod</th>
      <th mat-sort-header="worker">Pracownik (pesel)</th>
    </tr>

    <tr class="clickable" *ngFor="let collision of sortedData" (click)="onEditClick(collision)">
      <td>{{collision.id}}</td>
      <td>{{collision.lokalizacja}}</td>
      <td>{{collision.data}}</td>
      <td>{{getUserNameFromRideID(collision.przejazd_id)}}</td>
      <td>{{getWorkerName(collision.pracownik_id)}}</td>
    </tr>
  </table>
</mat-card>

