<mat-toolbar color="primary">
  <button mat-icon-button [matMenuTriggerFor]="appMenu">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Welcome to {{title}}!</span>
  <button mat-icon-button [routerLink]="['']">
    <mat-icon>home</mat-icon>
  </button>
</mat-toolbar>

<mat-menu #appMenu="matMenu">
  <button mat-menu-item routerLink="/users" routerLinkActive="active">Users</button>
  <button mat-menu-item routerLink="/cars" routerLinkActive="active">Cars</button>
  <button mat-menu-item routerLink="/ride" routerLinkActive="active">Ride</button>
  <button mat-menu-item routerLink="/base" routerLinkActive="active">Base</button>
  <button mat-menu-item routerLink="/tariff" routerLinkActive="active">Tariffs</button>
</mat-menu>

<router-outlet></router-outlet>
