<mat-card>
  <mat-card-title>Workers List
    <button mat-fab color="primary" [routerLink]="['/workers-add']">+</button>
  </mat-card-title>
  <table matSort (matSortChange)="sortData($event)">
    <tr>
      <th mat-sort-header="pesel">Pesel pracownika</th>
      <th mat-sort-header="imie">IMIE</th>
      <th mat-sort-header="nazwisko">Nazwisko</th>
      <th mat-sort-header="baza">Baza pracownika</th>
    </tr>

    <tr class="clickable" *ngFor="let worker of sortedData" (click)="onEditClick(worker)">
      <td>{{worker.pesel}}</td>
      <td>{{worker.imie}}</td>
      <td>{{worker.nazwisko}}</td>
      <td>{{worker.bazaLokalizacja}}</td>
    </tr>
  </table>
</mat-card>
