<form [formGroup]="collisionForm">
  <div class="example-container">

    <mat-form-field>
      <input matInput placeholder="lokalizacja" [formControlName]="'lokalizacja'" type="text">
    </mat-form-field>

    <mat-form-field>
      <input matInput [matDatepicker]="picker" [formControlName]="'data'" placeholder="Wybierz date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Przejazd user car" [formControlName]="'przejazd'">
        <mat-option *ngFor="let ride of rides" [value]="ride.id">
          {{getRideInfo(ride.id)}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Pracownik" [formControlName]="'prac_id'">
        <mat-option *ngFor="let worker of workers" [value]="worker.id">
          {{worker.imie}} &nbsp; {{worker.nazwisko}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</form>

<button mat-fab color="primary" (click)="onSubmit()">+</button>
