<mat-card>
  <mat-card-title>Users List
    <button mat-fab color="primary" [routerLink]="['/user-add']">+</button>
  </mat-card-title>
  <table matSort (matSortChange)="sortData($event)">
    <tr>
      <th mat-sort-header="mail">Mail</th>
      <th mat-sort-header="haslo">Haslo</th>
      <th mat-sort-header="imie">Imie</th>
      <th mat-sort-header="nazwisko">Nazwisko</th>
      <th mat-sort-header="pesel">Pesel</th>
      <th mat-sort-header="konto">Stan Konta</th>
    </tr>

    <tr class="clickable" *ngFor="let user of sortedData" (click)="onEditClick(user)">
      <td>{{user.mail}}</td>
      <td (mouseover)="showPassword=true" (mouseout)="showPassword=false">
        <span *ngIf="!showPassword">*******</span>
        <span *ngIf="showPassword">{{user.haslo}}</span>
      </td>
      <td>{{user.imie}}</td>
      <td>{{user.nazwisko}}</td>
      <td>{{user.pesel}}</td>
      <td>{{user.stan_skarbonki}}</td>
    </tr>
  </table>
</mat-card>

