<form [formGroup]="rideForm">
  <div class="example-container">
    <mat-form-field>
      <input matInput [matDatepicker]="picker" [formControlName]="'dataRozpoczecia'" placeholder="Wybierz date rozpoczecia">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <input matInput [matDatepicker]="picker2" [formControlName]="'dataZakonczenia'" placeholder="Wybierz date zakonczenia">
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="dystans" [formControlName]="'dystans'" type="number">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="lokalizacjaPoczatkowa" [formControlName]="'lokalizacjaPoczatkowa'" type="text">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="lokalizacjaKoncowa" [formControlName]="'lokalizacjaKoncowa'" type="text">
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="uzytkownikMail" [formControlName]="'uzytkownikMail'">
        <mat-option *ngFor="let user of users" [value]="user.id">
          {{user.mail}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Wybierz date obowiazywania cennika" [formControlName]="'cennikOdKiedy'">
        <mat-option *ngFor="let tariff of tariffs" [value]="tariff.id">
          {{tariff.od_kiedy}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="samochodNrRejestracyjny" [formControlName]="'samochodNrRejestracyjny'">
        <mat-option *ngFor="let car of cars" [value]="car.id">
          {{car.nr_rejestracyjny}}
        </mat-option>
      </mat-select>
    </mat-form-field>

  </div>
</form>

<button mat-fab color="primary" (click)="onSubmit()">+</button>
